<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-show="pageReady">
<div class="container well well-lg" ng-show="!settings.isDatabaseReady">
  <h3>Import OpenJUB data</h3>
  <p>We will use your auth token to retrieve a list of students from OpenJUB.</p> <p class="text-danger">Please, note, that this step is a prerequisite for everything else to work.</p>
  <a class="btn btn-success"ng-click="importUsers();" ng-show="!isImportingUsers">Let's do it!</a>
  <a class="btn btn-default" disabled ng-show="isImportingUsers">Importing...</a>
</div>

<div class="container well well-lg">
  <h3>Debug mode</h3>
  <p class="text-danger">This section is made mostly for testing the system setup, please, don't use this during the actual allocation as this might be a little bit risky.</p>
  <p>When debug mode is active, the following changes will occur:
    <ul>
      <li>From and to dates can't be set for the phases. Instead, they can be switched manually on this page.
    </ul>
  </p>
  <br/>

  <a class="btn btn-danger" ng-click="setDebug(true);" ng-show="!settings.isDebug">Enable</a>
  <a class="btn btn-success" ng-click="setDebug(false);" ng-show="settings.isDebug">Disable</a>
</div>

<div class="container well well-lg">
  <h3>Set phases</h3>
  <p>Here you can describe the phases of room allocation process and their time slots. For each phase ...</p>

  <accordion ng-repeat="item in settings.phases">
    <accordion-group>
      <accordion-heading>
        <i class="pull-right fa fa-close" ng-click="removePhase($event, item.id);"></i>
        <h3 class="panel-title">{{ item.name }}</h3>
      </accordion-heading>

      <div class="container">
          <!-- Name, From, To -->
        <div class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" ng-model="item.name">
          </div>

          <div class="form-group" ng-show="!settings.isDebug">
            <input type="text" class="form-control" ng-model="item.from" placeholder="From (dd.MM.yy)"/>
          </div>

          <div class="form-group" ng-show="!settings.isDebug">
            <input type="text" class="form-control" ng-model="item.to" placeholder="To (dd.MM.yy)"/>
          </div>
          
          <div class="form-group" ng-show="settings.isDebug">
            <a class="btn btn-warning" ng-click="forcePhase(item.id);">Set as current</a>
          </div>
        </div>

        <br/>

        <!-- College phase -->
        <div class="form-group"> 
          <div class="checkbox">
            <label>
            <input type="checkbox" ng-model="item.isCollegePhase" ng-change="collegePhaseSelected(item.id);">
              College selection phase
            </label>
          </div>
        </div>

        <div ng-show="!item.isCollegePhase">
        <br/>
        <h5>Filters:</h5>
        <!-- Filter by points -->
        <div class="form-group"> 
          <div class="checkbox">
            <label>
            <input type="checkbox" ng-disabled="item.isCollegePhase" ng-model="item.filters.enableFilterPoints">
              Points
            </label>
          </div>

          <div ng-show="item.filters.enableFilterPoints">
            <form class="form-inline">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Min" ng-model="item.filters.pointsMin">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Max" ng-model="item.filters.pointsMax">
              </div>
            </form>
          </div>
        </div>

        <!-- Filter by college -->
        <div class="form-group"> 
          <div class="checkbox">
            <label>
            <input type="checkbox" ng-disabled="item.isCollegePhase" ng-model="item.filters.enableFilterColleges">
              College
            </label>
          </div>

          <div ng-show="item.filters.enableFilterColleges">
            <div class="form-group">
              <div class="checkbox col-md-offset-1">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input type="checkbox" ng-model="item.filters.colleges.krupp">
                  Krupp
                </label>
              </div>
              <div class="checkbox col-md-offset-1">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input type="checkbox" ng-model="item.filters.colleges.nordmetall">
                  Nordmetall
                </label>
              </div>
              <div class="checkbox col-md-offset-1">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input type="checkbox" ng-model="item.filters.colleges.mercator">
                  Mercator
                </label>
              </div>
              <div class="checkbox col-md-offset-1">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input type="checkbox" ng-model="item.filters.colleges.c3">
                  College 3
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Filter by tall -->
        <div class="form-group"> 
          <div class="checkbox">
            <label>
            <input type="checkbox" ng-disabled="item.isCollegePhase" ng-model="item.filters.enableFilterTall">
              Tall people
            </label>
          </div>
        </div>

        <!-- Filter by quiet -->
        <div class="form-group"> 
          <div class="checkbox">
            <label>
            <input type="checkbox" ng-disabled="item.isCollegePhase" ng-model="item.filters.enableFilterQuiet">
              Quiet block
            </label>
          </div>
        </div>

        <!-- Filter by exchange -->
        <div class="form-group"> 
          <div class="checkbox">
            <label>
            <input type="checkbox" ng-disabled="item.isCollegePhase" ng-model="item.filters.enableFilterExchange">
              Exchange students
            </label>
          </div>
        </div>
        
        <!-- Filter by room time -->
        <div class="form-group"> 
          <div class="checkbox">
            <label>
            <input type="checkbox" ng-disabled="item.isCollegePhase" ng-model="item.filters.enableFilterRooms">
              Room type
            </label>
          </div>

          <div ng-show="item.filters.enableFilterRooms">
            <div class="form-group">
              <div class="checkbox col-md-offset-1">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input type="checkbox" ng-model="item.filters.rooms.single">
                  Single
                </label>
              </div>
              <div class="checkbox col-md-offset-1">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input type="checkbox" ng-model="item.filters.rooms.double">
                  Double
                </label>
              </div>
              <div class="checkbox col-md-offset-1">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                <input type="checkbox" ng-model="item.filters.rooms.triple">
                  Triple
                </label>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </accordion-group>
  </accordion>

  <br/>
  <a class="btn btn-danger" ng-click="endAllocation();" ng-show="settings.isDebug">End allocation</a>
  <a class="btn btn-success" ng-click="addPhase();">Add phase</a>
  <a class="btn btn-info"ng-click="updateSettings();">Save</a>
</div>

<div class="container well well-lg">
  <h3>Tall people</h3>
  <p>Modify list of people, who are eligible for a tall room. Please, enter CampusNet usernames separated by commas.</p>

  <div class="form-group">
    <textarea class="form-control" rows="4" placeholder="dcucleschi,fstankovsk,vungureanu" ng-model="settings.tallPeople"></textarea>
  </div>

  <a class="btn btn-info"ng-click="updateSettings();">Save</a>
</div>

<div class="container well well-lg">
  <h3>Disabled rooms</h3>
  <p>Modify list of rooms, which are excluded from the room allocation process. Please, enter room numbers separated by commas.</p>

  <div class="form-group">
    <textarea class="form-control"rows="4" placeholder="KC302,MA108,CC326,NB220" ng-model="settings.disabledRooms"></textarea>
  </div>

  <a class="btn btn-default btn-info"ng-click="updateSettings();">Save</a>
</div>

<div class="container well well-lg">
  <h3>Disabled users</h3>
  <p>Modify list of users, which are excluded from the room allocation process. It is still possible to set roommates/rooms for these people manually, using the section below. Please, enter CampusNet usernames separated by commas.</p>

  <div class="form-group">
    <textarea class="form-control"rows="4" placeholder="mkohlhase,apopa" ng-model="settings.disabledUsers"></textarea>
  </div>

  <a class="btn btn-default btn-info"ng-click="updateSettings();">Save</a>
</div>

<div class="container well well-lg">
  <h3>Email options</h3>
  <p>Don't spam the community too much!</p>
  <div class="form-group">
    <div class="checkbox">
      <label>
      <input type="checkbox" ng-model="settings.email.preference1">
        Case number 1
      </label>
    </div>
    <div class="checkbox">
      <label>
      <input type="checkbox" ng-model="settings.email.preference2">
        Case number 2
      </label>
    </div>
    <div class="checkbox">
      <label>
      <input type="checkbox" ng-model="settings.email.preference3">
        Case number 3
      </label>
    </div>
    <div class="checkbox">
      <label>
      <input type="checkbox" ng-model="settings.email.preference4">
        Case number 4
      </label>
    </div>
  </div>

  <a class="btn btn-default btn-info"ng-click="updateSettings();">Save</a>
</div>

<div class="container well well-lg">
  <h3>Modify user's information</h3>
  <p>If for some reason CampusNet data imported from OpenJUB is not accurate, you can use this section to manually edit user's information.</p>

  <div class="form-inline" ng-show="!showEditUser">
    <input type="text" class="form-control" placeholder="CampusNet username" ng-model="editUserString">
    <a class="btn btn-default"ng-click="editUserToggle();">Edit</a>
  </div>

  <div ng-show="showEditUser" class="col-md-4">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="CampusNet username" ng-model="editUser.username">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Full name" ng-model="editUser.name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Country" ng-model="editUser.country">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Graduation year" ng-model="editUser.graduation_year">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="College" ng-model="editUser.college">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Major" ng-model="editUser.major">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Phase ID (debug!)" ng-model="editUser.phaseId">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Allocated college" ng-model="editUser.nextCollege">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Allocated room" ng-model="editUser.nextRoom">
    </div>

    <a class="btn btn-default btn-info" ng-click="editUserSubmit();" >Save</a>
    <a class="btn btn-default" ng-click="editUserToggle();" >Cancel</a>
  </div>
</div>

<div class="container well well-lg">
  <h3>Import/export settings</h3>
  <p>Here you can backup or restore your settings from a generated JSON file.</p> 
  <br/>

  <a class="btn btn-default btn-info"ng-show="!showImportSettings" ng-click="importSettingsToggle();" >Import settings</a>

  <div ng-show="showImportSettings">
      <div class="form-group">
      <textarea class="form-control" rows="2" placeholder="Please, paste the contents of 'jrooms_settings.json' here." ng-model="importJSONString"></textarea>
    </div>

    <p class="text-danger">By clicking Import, you will overwrite all of the current settings with the one stored in the configuration file. Proceed with caution.</p>
    <a class="btn btn-default btn-danger" ng-click="importSettingsSubmit();" >Import!</a>
    <a class="btn btn-default" ng-click="importSettingsToggle();" >Cancel</a>
  </div>

  <br/><br/>

  <a class="btn btn-default btn-info"ng-href="{{ exportSettingsURL(); }}" download="jrooms_settings.json">Export settings</a> 
</div>

<div class="container well well-lg">
  <h3>Reset the system</h3>
  <p class="text-danger">This will reset the system for the new allocation process. All the settings, user data and allocation results will be permanently deleted!</p>
  <a class="btn btn-default btn-danger"ng-click="resetSystem();">I understand and choose to delete everything</a>
</div>

<div class="container well well-lg">
  <h3>Unofficial Jacobs House Cup</h3>
  <div class="form-inline">
    <div class="btn btn-lg btn-danger">{{ settings.collegeGame.Krupp }}</div>
    <div class="btn btn-lg btn-primary">{{ settings.collegeGame.Mercator }}</div>
    <div class="btn btn-lg btn-success">{{ settings.collegeGame.C3 }}</div>
    <div class="btn btn-lg btn-warning">{{ settings.collegeGame.Nordmetall }}</div>
  </div>
</div>
</div>


<div ng-include="'components/footer/footer.html'"></div>
