<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">jRooms</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-show="shouldDisplay(item);" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}" ng-bind-html="item.title"></a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
         <li><a class="text-info" ng-show="loggedIn">Signed in as {{ user.name }}</a></li>
         <li><a ng-click="logout();" ng-show="loggedIn">Logout</a></li>
         <li><a ng-click="login();" ng-show="!loggedIn">Login</a></li>
      </ul>
    </div>
  </div>
</div>
