<div ng-include="'components/navbar/navbar.html'"></div>

<div class="jumbotron">
    <div class="container">
      <h1>jRooms</h1>
      <p>Simple, modern and secure room allocation for Jacobs University.</p>
      <br/>
      <p><a class="btn btn-primary btn-lg" ng-show="!loggedIn" ng-click="login();">Login with your CampusNet to start</a></p>
      <p><a class="btn btn-primary btn-success btn-lg" ng-show="loggedIn" ng-click="dashboard();">Go to the dashboard</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Secure</h2>
        <p>jRooms has no access to your CampusNET credentials and instead uses secure <a href="http://github.com/OpenJUB">OpenJUB</a> server to handle authentification.</p>
      </div>
      <div class="col-md-4">
        <h2>Simple</h2>
        <p>Focus on what's important in simple, minimalistic interface. No clutter means you can secure your room for next year faster.</p>
     </div>
      <div class="col-md-4">
        <h2>Automatic</h2>
        <p>Removes all the manual work out of room allocation. Results get calculated immediately after phases are closed.</p>
      </div>
    </div>
    </div>

<div ng-include="'components/footer/footer.html'"></div>
