<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container full-height"><div class="row">
    <!-- //////////////// -->
    <!-- Phase -->
    <div class="container col-md-9">
      <div class="well well-lg" ng-show="showError">
        <h2 class="text-danger">Oh oh!</h2>
        <p>It seems like there was an error while receiving the current phase. <br/><br/>
        Totally our fault, would you care to <a href="mailto:fi.stankovski@gmail.com">report it</a>?<br/>
        Thanks!</p>
      </div>

      <div class="well well-lg" ng-show="showNotEligible">
        <h2 class="text-danger">Sorry!</h2>
        <p>It doesn't seem like you are eligible for this phase. <br/><br/>
        To continue with allocation process, please, come back at {{ currentPhase.next }}.</p>
      </div>

      <div class="well well-lg" ng-show="showCollegeSelection">
        <h2>College selection phase</h2>
        <p>Please, order the colleges by your housing preference. Your favorite college should be on top. <br/>
        In an unfortunate case, where demand for a college doesn't allow more places, alternative option will be selected, following down the list.</p>
        <br/>

        <div class="form-group">
          <select class="form-control" ng-model="colleges[0]">
            <option>Krupp</option>
            <option>Nordmetall</option>
            <option>Mercator</option>
            <option>C3</option>
          </select>

          <select class="form-control" ng-model="colleges[1]">
          <option>Nordmetall</option>
            <option>Krupp</option>
            <option>Mercator</option>
            <option>C3</option>
          </select>

            <select class="form-control" ng-model="colleges[2]">
            <option>Mercator</option>
            <option>Krupp</option>
            <option>Nordmetall</option>
            <option>C3</option>
          </select>

          <select class="form-control" ng-model="colleges[3]">
            <option>C3</option>
            <option>Krupp</option>
            <option>Nordmetall</option>
            <option>Mercator</option>
          </select>

          <br/>
          <br/>
          <a class="btn btn-default btn-info" ng-click="updateColleges();">Submit!</a>
        </div>
      </div>

      <div class="well well-lg" ng-show="showRoomSelection">
        <h2>Room selection phase</h2>
        <p>Please, select up to {{ maxRooms.length }} rooms, from most to least favorable.<br/>
        Here will be an inspirational snippet about how does the housing system works and points and blablabla. {{ rooms }}</p>
        <br/>

        <div class="form-group container" ng-repeat="room in maxRooms">
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Room #" ng-model="rooms[room]" required></input>
          </div>
        </div>

        <br/>
        <a class="btn btn-default btn-info" ng-click="updateRooms();">Submit!</a>     
      </div>
    </div>

    <!-- //////////////// -->
    <!-- Profile -->
    <div class="col-md-3">
      <div class="well text-center">
        <img class="img-rounded center-block" height="150" ng-src="{{ user.imageURL }}"/>

        <h3>{{ user.name }}</h3>
        <p>{{ user.country }}</p>
        <p>{{ user.description }}</p>
        <p class="text-info" ng-show="user.roommates.length > 0"><strong>Roommates:</strong> {{ user.roommates }}</p>
      </div>

      <div class="well" id="roommateRequests">
        <h3>Inbox</h3>
        <p ng-show="user.inbox.length == 0" class="text-info">No new requests!</p>
        <div ng-repeat="req in user.inbox" class="well">
          <div class="row">
            <div class="col-md-4">
              <img class="img-rounded" height="50" ng-src="{{ req.imageURL }}"/>
            </div>
            <div class="col-md-8">
              <p class="text-success"> {{ req.name }}<br/>
                wants to be your roommate!</p>
            </div>
          </div>
          <a class="btn btn-default btn-success" ng-click="acceptRoommate(req);">Accept</a>
          <a class="btn btn-default btn-danger" ng-click="denyRoommate(req);">Deny</a>
        </div>

        <br/>

        <h4>Send a request</h4>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="CampusNet username" ng-model="requestUsername"></input>
          <a class="btn btn-default" ng-click="requestRoommate();">Request!</a>
        </div>
      </div>
    </div>
  </div>
</div></div>

<div ng-include="'components/footer/footer.html'"></div>
